{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='delete_author.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='./logoOnglet.png') }}" type="image/svg">
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="delete-author-container">
            <h1>Confirmation de suppression</h1>
            <p>Êtes-vous sûr de vouloir supprimer l'auteur : <strong>{{ author.name }}</strong> ?</p>

            <form action="{{ url_for('confirm_delete_author', id=author.id) }}" method="POST">
                <button type="submit" class="btn btn-danger w-100">Confirmer</button>
                <a href="{{ url_for('authors') }}" class="btn btn-secondary w-100 mt-3">Annuler</a>
            </form>
        </div>
    </div>
{% endblock %}
