{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='detail.css') }}">
{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <div class="livre-detail">
        <div class="livre">
            <img src="{{ url_for('static', filename='images/' + book.img) }}" alt="{{ book.title }}" title="{{ book.title }}">
        </div>
        <div class="text-center">
            <h2>{{ book.title }}</h2>
            <h3>Auteur : {{ book.author.name }}</h3>
            <h3>Prix : {{ book.price }} €</h3>
            <div id="bouton-acheter">
                <button type="button" class="w-100 btn btn-lg btn-primary" onclick="window.location.href='{{ book.url }}';">Acheter</button>
            </div>
            <div id="bouton-modifier">
                <button type="button" class="w-100 btn btn-lg btn-secondary" onclick="window.location.href='{{ url_for('edit_author', id=book.id) }}';">Modifier</button>
            </div>

            <!-- Formulaire pour ajouter ou retirer des favoris -->
            <form method="POST" action="{{ url_for('add_favorite', book_id=book.id) }}">
                {% if book in current_user.favorite_books %}
                    <button type="submit" class="btn btn-outline-success">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"></path>
                        </svg>
                        Retirer des favoris
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"></path>
                        </svg>
                        Ajouter aux favoris                    
                    </button>
                {% endif %}
            </form>
        </div>
{% endblock %}
