{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    
    <div class="spacer"></div>
    <div class="search-container">
        <form method="GET" action="{{ url_for('search_books') }}">
            <input type="text" name="query" class="search-input" placeholder="Rechercher un livre...">
            <button type="submit" class="search-button">Rechercher</button>
        </form>
    </div>

    <div class="book-list">
        {% for x in books %}
            <div class="book-item">
                <a href="{{ url_for('detail', id=x.id) }}">
                    <img src="{{ url_for('static', filename='images/' + x.img) }}" alt="{{ x.title }}" title="{{ x.title }}" class="book-image">
                </a>
                <p class="book-title">{{ x.title }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
